<div class="box wide">
  <div class="legend right">
    <a href="/settings">Back to Settings</a>
  </div>
  <div class="legend">
    <%= @title %>
  </div>

  <p>
  Scan the QR code below or click on it to open in your Google authenticator application
  
  </p>

  <%= raw @qr_svg %>

  <p>
  Once you have finished registering with your Google authenticator application, proceed to
  the next screen to verify your current code and actually enable
  Two-Factor Authentication on your account.
  </p>

  <p>
  <%= button_to "Verify and Enable", twofa_verify_url, :method => :get %>
</div>
